<html>
    <head>
      {% if title %}
      <title>{{ title }} - osna</title>
      {% else %}
      <title>osna</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div>osna project: HUAIXI TANG / TIXUAN WANG / ZHICHENG LIU / YUHAN QIN</div>
        <hr>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        {% block content %}{% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        The most recent 200 tweets from {{ message }} are as follows:
        {% endfor %}
        {% endif %}
        {% endwith %}
        <ul>
        {% for tweet in tweets %}
        <div><li type="1">{{ tweet }}</li></div>
        {% endfor %}
        </ul>
        <br>
    </body>
</html>
