<html>
    <head>
      {% if title %}
      <title>{{ title }} - osna</title>
      {% else %}
      <title>osna</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div>osna project: HUAIXI TANG / TIXUAN WANG / ZHICHENG LIU / YUHAN QIN</div>
        <hr>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        {% block content %}{% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        timeline of @{{ message }}
        <ul>
            {% for tweet in tweets %}
            <li>{{ tweet }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <br>
    </body>
</html>
